* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
/* NAVBAR */
.logo-text {
  color: #0c64c2;
  font-size: 2rem;
  font-family: "Karla", sans-serif;
}
.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
}
.nav-items li {
  display: inline;
}
.nav-item a {
  text-decoration: none;
  color: #0c76c2;
  padding: 14px 16px;
  font-size: 3vh;
}
.nav-item a:hover {
  color: #085185;
  text-decoration: underline;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.mobile-nav-items {
  display: none;
  position: absolute;
  top: 58px;
  right: 25px;
  width: 300px;
}

.mobile-nav-items.show {
  display: flex;
}
/* HOME */
#home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0a4894;
  padding: 30px;
  color: white;
}
img {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 7vh;
  margin: 10px;
  text-align: center;
}
.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-text p {
  margin: 10px;
}
/* ABOUT */
#about {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #0c76c2;
  text-align: center;
}
#about h2 {
  padding-bottom: 10px;
  font-size: 6vh;
  text-align: center;
}
#about h3 {
  padding-bottom: 10px;
  font-size: 4vh;
  text-align: center;
}
/* FEATURES */
#what-we-do {
  background-color: #0a4894;
  padding: 30px;
  text-align: center;
  color: white;
}
#what-we-do h2 {
  font-size: 5vh;
  padding: 10px;
}
#what-we-do h3 {
  margin-bottom: 5px;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature .fa {
  font-size: 7vh;
  color: white;
  margin: 5px;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 10px;
}
/* FOOTER */
#contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1e212d;
  color: white;
  padding: 30px;
}
.logo-text2 {
  color: #0c64c2;
  font-size: 4vh ;
  margin-bottom: 5px;
  font-family: "Karla", sans-serif;
}
.info {
  padding: 0 10px;
  width: 400px;
}
.info p {

  margin-bottom: 10px;
}
.info h4 {
  margin-bottom: 10px;
}
input {
  border-radius: 25px;
  padding: 7px 15px;
  border: none;
  margin-top: 5px;
}
p .fa {
  margin-right: 10px;
}
p a {
  text-decoration: none;
  color: white;

}

#error-message {
  color: red;
  font-size: 2vh;
  margin: 5px;
  font-weight: 100;
}
/* BUTTONS */
.donate-btn,
.adopt-btn,
.know-more {
  margin: 20px;
  border-radius: 15px;
  padding: 7px 15px;
  border: none;
  font-size: 3vh;
  background: linear-gradient(to right, #09c6f9, #045de9);
  color: white;
}
.submit {
  border: none;
  border-radius: 25px;
  padding: 7px 15px;
  background: linear-gradient(to right, #09c6f9, #045de9);
  color: white;
}

.donate-btn:hover {
  opacity: 0.8;
}
.adopt-btn:hover {
  opacity: 0.8;
}
.know-more:hover {
  opacity: 0.8;
}
.submit:hover {
  opacity: 0.8;
}
/* MEDIA QUERY */


@media only screen and (max-width: 1300px) {
  .desktop-nav-items {
    display:none;
  }

  .mobile-nav-items {
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    background-color: rgba(0,0,0,0.8);
  }

  .mobile-nav-items li {
    margin: 20px 0px;
  }

  .mobile-nav-items a{
    text-decoration: none;
    color: #fff;
  }

  .mobile-nav-items a:hover{
    color: #0c76c2;
  }
  .hamburger {
    display: block;
  }
  
}

@media only screen and (max-width: 1200px){
#home{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 5vh;
}
.logo-text{
  font-size: 1.5rem;
}
.logo-text2{
  font-size: 3vh;
}
#about{
  flex-direction: column;
}
.features{
  flex-direction: column;
  text-align: center;
}
#contact-us{
  flex-direction: column;

}
.info{
  width: unset;
}
.buttons{
  display: flex;
  flex-direction: row;
}
}